body {

  background-color: #F9F9F9;
}

.header-wrap {
  background-color: white;
  position: fixed;
  top: 0;
  width: 100%;


}

.header {
  width: 1400px;
  margin: 0 auto;
  height: 100px;
  display: flex;
  align-items: center;
  margin-bottom: 10px;


  .logo {
    width: 55px;
    height: 55px;
    margin-right: 99px;
  }

  .nav {
    display: flex;

    a {
      display: block;
      height: 100px;
      line-height: 100px;
      margin-right: 51px;
      font-weight: bold;
      font-size: 20px;
      color: #333333;
      box-sizing: border-box;

      &.active {
        border-bottom: 6px solid #FF1F63;

      }
    }
  }

  .right {
    display: flex;
    align-items: center;

    span {
      cursor: pointer;
      color: #999999;
    }

    .nick {
      display: flex;
      align-items: center;
      margin-right: 40px;

    }

    margin-left: auto;

    img {
      width: 36px;
      height: 36px;
      margin-right: 10px;
    }
  }
}

.main {
  margin: 0 auto;

  margin-top: 120px;
  width: 1400px;

  .content {
    background-color: white;
    padding: 0 30px;
    box-sizing: border-box;
    margin-bottom: 18px;

    .title {
      height: 100px;
      display: flex;
      justify-content: space-between;
      align-items: center;

      p {
        font-weight: bold;
        font-size: 18px;
      }

      .button-list {
        button {
          height: 34px;
          color: white;
          margin-left: 22px;
          font-size: 14px;
          cursor: pointer;

          &:nth-child(1) {
            background-color: #FF2063;
            width: 140px;
          }

          &:nth-child(2) {
            background-color: #FF9A22;
            width: 84px;
          }
        }
      }
    }

    .info {
      padding-bottom: 48px;

      .single01 {
        display: flex;
        margin-bottom: 34px;
        align-items: center;

        span {
          font-weight: bold;
        }

        p {
          margin-right: 54px;
          color: #019FE8;
          max-width: 600px;
          word-break: break-all;
        }

        button {
          width: 70px;
          height: 30px;
          border-radius: 15px;
          border: 1px solid #BBBBBB;
          background-color: white;
          cursor: pointer;
        }
      }

      .single {
        display: flex;
        margin-bottom: 34px;

        span {
          width: 80px;
          font-weight: bold;
        }

        p {
          width: 1223px;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
        }

        strong {
          width: 1223px;
          line-height: 24px;
        }

        img {
          width: 406px;
          height: 264px;
        }

        .left {
          display: flex;
          margin-right: 142px;
        }

        .right {
          display: flex;
        }

        .style01 {
          width: 114px;
        }

        .style02 {
          color: #999999
        }
      }
    }
  }

  .style03 {
    background-color: white;
    padding: 0 30px;
    box-sizing: border-box;
    padding-bottom: 76px;
    margin-bottom: 16px;

    .list-box {
      display: flex;
      justify-content: center;

      a {
        color: black;
      }

      .test03 {
        display: block;
        height: 38px;
        line-height: 38px;
        color: black;
        border: 1px solid #ebebeb;
        padding: 0 18px;
      }
    }

    .title {
      height: 100px;
      display: flex;
      align-items: center;
      justify-content: space-between;

      p {
        font-weight: bold;
      }

      .button-list {
        button {
          width: 84px;
          height: 34px;
          color: white;
          margin-left: 18px;
          cursor: pointer;

          &:nth-child(1) {
            background-color: #019FE8;
          }

          &:nth-child(2) {
            background-color: #40D691;
          }
        }
      }
    }

    .cata {
      margin-bottom: 30px;

      button {
        width: 116px;
        height: 44px;
        background-color: #BBBBBB;
        border-radius: 22px;
        color: white;
        margin-right: 21px;
        cursor: pointer;

        &.active {
          background-color: #FF2063;
        }
      }
    }

    table {
      font-size: 14px;
      width: 100%;
      margin-bottom: 77px;

      .top {
        background-color: #FFF2F6;
        // display: flex;
        height: 68px;
        line-height: 68px;
        color: #EC1D5B;

        th {
          font-weight: bold;

        }
      }

      img {
        width: 109px;
        height: 63px;
      }

      td {
        text-align: center;
        vertical-align: middle;
        border-bottom: 1px dashed #BBBBBB;
        height: 130px;

        .td-button {
          display: flex;
          flex-direction: column;
          align-items: center;

          .style04 {

            border: 1px solid #333333;
            background-color: white;
            color: black;
          }
        }

        button {
          display: block;
          width: 66px;
          height: 36px;
          margin-top: 14px;
          border-radius: 4px;
          cursor: pointer;

          &:nth-child(1) {
            background-color: #EC1D5B;
            color: white;
          }

          &.re {
            border: 1px solid #EC1D5B;
            color: #EC1D5B;
            background-color: white;
          }

          &:nth-child(2) {

            border: 1px solid #EC1D5B;
            color: #EC1D5B;
            background-color: white;
          }
        }
      }
    }
  }
}

.footer {
  height: 160px;
  background-color: #FF2365;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;

  span {
    margin-bottom: 27px;
  }
}

.edit-wrap {
  position: fixed;
  width: 1400px;
  height: 887px;
  top: 50%;
  left: 50%;
  right: 0;
  bottom: 0;
  transform: translate(-50%, -50%);
  background-color: white;

  .input-box {
    padding: 46px 73px 78px 51px;
    background-color: white;

    .single {
      margin-bottom: 18px;
      display: flex;

      .limit {
        position: absolute;
        top: 22px;
        right: 22px;
        display: flex;
      }

      span {
        width: 120px;
      }

      .title-input {
        height: 61px;
        flex: 1;
        background-color: #F9F9F9;
        text-align: left;
        color: black;
      }

      textarea {
        height: 254px;
        background-color: #F9F9F9;
        flex: 1;
        border: none;
      }

      #test1 {
        width: 362px;
        height: 61px;
        background-color: #F9F9F9;


      }

      .cover {
        width: 500px;
        height: 254px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: #F9F9F9;



        img {
          width: 64px;
          height: 53px;
          margin-bottom: 27px;
        }

        p {
          max-width: 207px;
          text-align: center;
        }

        .cover-img {
          position: absolute;
          width: 500px;
          height: 254px;
        }
      }
    }
  }

  .button-list {
    background-color: white;
    display: flex;
    justify-content: flex-end;
    padding-bottom: 75px;
    padding-right: 73px;

    .button {
      width: 154px;
      height: 54px;
      border-radius: 27px;
      margin-left: 26px;
      text-align: center;
      line-height: 54px;
      cursor: pointer;

      &:nth-child(1) {

        border: 1px solid #999999;
      }

      &:nth-child(2) {
        color: white;
        background-color: #FF1F63;

      }
    }
  }
}

.mask {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: black;
  opacity: .4;
}

.tips {
  width: 462px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  border-radius: 10px;

  .top {
    height: 234px;
    text-align: center;
    line-height: 234px;

    p {
      font-weight: bold;
      font-size: 24px;
    }
  }

  .bottom {
    display: flex;

    button {
      flex: 1;
      height: 76px;
      background-color: white;
      border-top: 1px solid #EEEEEE;
      border-radius: 0 0 10px 10px;
      font-size: 20px;

      cursor: pointer;

      &:nth-child(1) {
        border-right: 1px solid #EEEEEE;
        color: #999999;
      }
    }
  }
}

.nolive {
  height: 706px;
  display: flex;
  align-items: center;
  justify-content: center;

  button {
    width: 206px;
    height: 66px;
    background-color: #FF2063;
    color: white;
    border-radius: 20px;
    cursor: pointer;
  }
}

.sendredpack {
  position: fixed;
  width: 462px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  border-radius: 10px;

  .title {
    height: 76px;
    background-color: #FF2063;
    line-height: 76px;
    text-align: center;
    font-size: 20px;
    color: white;
    border-radius: 10px 10px 0 0;

  }

  .input-box {
    padding: 30px;

    .single {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 20px;

      strong {
        font-weight: bold;
      }

      input {
        margin: 0;
        border: none;
        flex: 1;
        color: black;
      }

      .right {
        width: 302px;
      }

      input[type="text"] {
        height: 50px;
        background-color: #FAFAFA;
      }

      input[type="radio"] {
        width: 14px;
        height: 14px;
        background-color: #FAFAFA;
      }

      textarea {
        width: 302px;
        height: 125px;
        border: none;
        background-color: #FAFAFA;

      }

      .right {
        display: flex;
        justify-content: space-between;


        p {
          height: 50px;
          background-color: #FAFAFA;
          line-height: 50px;
          padding-right: 10px;
        }
      }

      .style08 {
        font-size: 14px;
        color: #FF2063;
      }
    }
  }

  .button-list {
    display: flex;

    button {
      height: 76px;
      border-top: 1px solid #EEEEEE;
      flex: 1;
      background-color: white;
      cursor: pointer;
      border-radius: 0 0 10px 10px;


      &:nth-child(1) {
        color: #999999;
        border-right: 1px solid #EEEEEE;
      }
    }
  }
}

.reco-s {
  position: fixed;
  width: 462px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  border-radius: 10px;

  .input-box {
    padding: 30px;

    .single {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 47px;

      .right {
        width: 302px;
        display: flex;
        justify-content: space-between;

        span {

          &:nth-child(6) {
            margin-right: 0;
          }
        }

        input {
          width: 100%;
          height: 50px;
          background-color: #FAFAFA;
          color: black;
          border: none;
        }

        input[type='radio'] {
          width: 14px;
          height: 14px;
        }
      }

      strong {
        font-weight: bold;
      }
    }
  }

  .button-list {
    display: flex;

    button {
      height: 76px;
      border-top: 1px solid #EEEEEE;
      flex: 1;
      background-color: white;
      cursor: pointer;
      border-radius: 0 0 10px 10px;


      &:nth-child(1) {
        color: #999999;
        border-right: 1px solid #EEEEEE;
      }
    }
  }

}

.change-sort {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  border-radius: 10px;

  .input-box {
    height: 235px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 30px;

    strong {
      margin-right: 61px;
    }

    input {
      width: 304px;
      height: 50px;
      background-color: #FAFAFA;
      border: none;
      color: black;
    }
  }

  .button-list {
    display: flex;

    button {
      height: 76px;
      border-top: 1px solid #EEEEEE;
      flex: 1;
      background-color: white;
      border-radius: 0 0 10px 10px;

      cursor: pointer;

      &:nth-child(1) {
        color: #999999;
        border-right: 1px solid #EEEEEE;
      }
    }
  }
}

.radio {
  display: flex;
  &.radio01{
    .pre{
      margin-right: 16px;
    }
    .after{
      margin-right: 16px;
    }
  }

  .pre {
    width: 14px;
    height: 14px;

    background: #EDEDED;

    border-radius: 50%;
    margin-right: 36px;
  }

  .after {
    width: 14px;
    height: 14px;
    background: #EDEDED;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 36px;



    .after-insert{
      width: 8px;
      height: 8px;
      background: #FF2063;
      border-radius: 50%;

    }

  }

}

.no-result{
  height: 308px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: white;
  img{
    width: 126px;
    height: 126px;
    margin-bottom: 26px;
  }
  p{
    color: #8C8C8C;
  }
}